@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
  font-family: 'Italiana';
  src: local('Italiana'), url('./fonts/italiana-regular-webfont.woff') format('woff');
}
:root {
font-family: 'Italiana', 'Times New Roman';
  background-color: #FAFAFA;
}

body {
  margin: 0;
}
